<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
        .content-1{
            font-size: 40px;
            color: #F47C25;
        }
        .sub{
            font-size: 25px;
            color: black;
            margin-left: 5px;
        }
        p{
             color: black;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="content-1">Regix</h1>
    <p class="para">Hello {{username}},</p>
    <p>Here is your verification code <span class="sub">48856</span></p>


</div>
</body>
</html>